body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c0c0c;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
  color: #333;
  font-size: 48px;
  font-family: 'Sixtyfour Convergence', sans-serif;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(6, 80px);
  gap: 5px;
  margin-top: 20px;
}

.red {
  background-color: red !important;
}

.yellow {
  background-color: yellow !important;
}

#status {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9); 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px 10px;
  border-radius: 5px;
}

.cell {
  width: 80px;
  height: 80px;
  background-color: #a5a6a7; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-in;  
}

#winnerMessage {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9); 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#resetButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(135deg, #ff7f50, #ff4500); 
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  transition: background 0.3s ease, box-shadow 0.3s ease; 
}

#resetButton:hover {
  background: linear-gradient(135deg, #ff6347, #ff0000); 
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5); 
}

#gameContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/marble.jpg);
  width: fit-content;
  margin: 0 auto;
  border: 20px solid transparent; 
  border-color: #2b2a2a; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
}

#gameMode {
  margin-bottom: 20px;
}

#gameMode button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(135deg, #ff7f50, #ff4500); /* Gradient background */
  color: white;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

#gameMode button:hover {
  background: linear-gradient(135deg, #ff6347, #ff0000); /* Hover effect */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5); /* Hover shadow */
}